@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');

* {
    font-family: 'Caveat', cursive;
    background-color: rgb(242, 235, 191);  
    /* background-color: red; */
}

.row,
.header {
    text-align: center;
}

.row div {
    position: relative;
    font-size:3vw;
    background: url(pictures/green-box1.jpg) no-repeat center;
    background-size: contain;
    height: 250px;
    width: 500px;
    /* height: 20%;
    width: 44%; */
    text-align: center;
    display: inline-block;
    padding-top: calc(286px/2);
}

.text a {
    background: url(pictures/green-box1.jpg);
}

.navigation {
    text-align: center;
}

.navigation a {
    padding: 20px 40px;
    font-size: 2vw;
}

.monthHeader {
    font-size: 30px;
    text-decoration: rgb(240, 96, 96) dotted underline;
    text-align: center;
}

.monthBox div {
    width: 800px;
    border: 10px solid rgb(67, 118, 128);
    padding: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.about-me {
    display: inline-block;
    line-height: 40px;
    text-align: center;

  }

.about-me div {
    display: inline-block;
    width: 40%;
    padding: 20px;
    line-height: normal;
  }

.about-me img {
    width: 300px;
    line-height: normal;
  }

.how-im-doing {
    /* display: inline-block; */
    text-align: center;
    padding: 20px;
}

.how-im-doing div {
    /* display: inline-block; */
}

li {
    background-image:  url("pictures/star.png") ;
    background-size: 5%;
    background-repeat: no-repeat;
	background-position: left center;;
    margin: 0;
    padding: 5px 20px 5px 20px;
	list-style: none;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }